body {
    background-color: #151414;
    color: white;
    font-family: 'IBM Plex Mono', monospace;
    background-image: url("../images/grid.png");
    background-size: 49px 28px;
    overflow-x: hidden;
    padding: 0px;
    margin: 0px;
    transition:0.2s;
}

::selection {
    background-color: rgba(255, 0, 0, 0.3);
}

::-moz-selection {
    background-color: rgba(255, 0, 0, 0.3);
}

#app {
    padding: 0;
    margin: 0;
    width: 100vw;
}

#header {
    width: 100vw;
    height: 31em;
    background-image: url("../images/projects/banner.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right bottom;
    position: relative;
    text-shadow: 0 5px 40px rgba(0, 0, 0, 1);
    box-shadow: 0 0 40px rgba(0, 0, 0, .6);
    text-align: center;
    height: initial;
    margin: 0 auto;
    padding-bottom: 2em;
}

mark {
    background-color: rgba(0, 0, 0, .4);
    color: white;
}

#header__title {
    text-align: left;
    font-style: normal;
    font-size: 500%;
    font-weight: 700;
    padding-bottom: 0;
    padding-top: 3em;
    margin: auto;
    width: 80vw;
}

#header__subtitle {
    display: inline-block;
    font-weight: 200;
    text-align: left;
    font-size: 200%;
    margin: 0px;
    width: 80%;
}

    #header__subtitle::first-line {
        text-decoration-line: overline;
        text-decoration-color: #EC0B43;
    }

#header__image {
    pointer-events: none;
    width: 40em;
    height: 26em;
    bottom: -8em;
    right: 5em;
    position: absolute;
    transform: scaleX(-1);
    opacity: .3;
    filter: drop-shadow(5px 5px 5px #000);
    padding: 0px;
    margin: 0px;
}

#about-container {
    width:60vw;
    margin: 0 auto;
}

@media (max-aspect-ratio: 870/710) {
    #header {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: right bottom;
        padding: 0;
        margin: auto;
        padding-bottom: 2em;
    }

    #header__title {
        padding-top: 100px;
        text-align: left;
    }
}


@media (max-aspect-ratio: 3/2) {
    #project-header-container {
        display: none;
    }

    #project-header-mini-container {
        display: block;
    }

    #header__image {
        display: none;
    }

    #header__project-image {
        filter: blur(1em);
        width: 100%;
    }

    #header mark {
        background-color: rgba(0, 0, 0, 0);
    }
}

@media (min-aspect-ratio: 3/2) {
    #project-header-container {
        display: block;
    }

    #project-header-mini-container {
        display: none;
    }

    #header__image {
        display: block;
    }

    #header__project-image {
        filter: blur(.3em) brightness(1.2);
    }
}

h1 {
    font-weight: 500;
    margin: 1em auto 1em auto;
    text-align: left;
}

p {
    text-align: left;
    font-size: 1.4em;
    margin: 1em auto 1em auto;
}
#project-header {
    font-weight: 500;
    width: 60vw;
    margin: 1em auto 1em auto;
    text-align: left;
}

#project-header-mini {
    font-weight: 500;
    width: 60vw;
    margin: 1em auto 1em auto;
    height: 0.2em;
    text-align: center;
}

.project-header__button {
    float: right;
    text-align: center;
    font-weight: 100;
    transition: .1s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

    .project-header__button .accent {
        font-weight: 500;
        line-height: 1em;
        font-style: normal;
    }

    .project-header__button#selected {
        font-weight: 500;
    }

    .project-header__button:hover {
        transform: translateY(-2px);
    }


.project-header__button-mini {
    text-align: center;
    font-weight: 100;
    transition: .1s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 200%;
    margin: 0 .1em 0 .1em;
}

    .project-header__button-mini#selected {
        font-weight: 500;
    }

    .project-header__button-mini:hover {
        transform: translateY(-2px);
    }

#overlay {
    position: fixed;
    width: 100%;
    top: 10%;
    left: 0;
    right: 0;
    bottom: 10%;
    background-color: rgba(0, 0, 0, .8);
    cursor: pointer;
}

.accent {
    color: #EC0B43;
}

.underline {
    text-decoration-line: underline;
    text-decoration-color: #EC0B43;
}

.overline {
    text-decoration-line: overline;
    text-decoration-color: #EC0B43;
}

#project-grid {
    display: grid;
    margin: 0 auto;
    padding-top: 1em;
    width: 60vw;
    justify-content: center;
    flex-wrap: wrap;
    grid-template-columns: repeat(auto-fit, minmax(32em, 1fr));
}

.project-card {
    display: block;
    text-align: center;
    align-self: center;
    margin: .1em;
    transition: ease-in-out 0.1s;
    opacity: 0.9;
    background-color: rgba(0, 0, 0, 0.3);
}

    .project-card:hover {
        opacity: 1;
    }

.project-card__text {
    padding: 2em;
    padding-bottom: .5em;
    padding-top: .5em;
}
.hidden {
    display: none;
}

.project-card__image {
    display: inline-block;
    width: 100%;
    height: 20em;
    object-fit: cover;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 0 0);
    transition: ease-in-out 0.1s;
    outline-offset: 1px;
    outline: 2px solid #EC0B43;
}

    .project-card__image:hover {
        outline-offset: -2px;
    }

.fade {
    transition: opacity .5s;
}

.fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    -moz-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0);
}

.project-card__title {
    font-weight: 600;
    font-size: 110%;
    position: relative;
    margin: 0;
    text-align: left;
    padding: .2em;
    color: white;
    border-bottom: 2px solid #EC0B43;
    width: initial;
}

.project-card__description {
    font-weight: 100;
    width: 100%;
    padding: 0px;
    margin-top: 5px;
    height: 30px;
    text-align: left;
}

#article {
    width: 90vw;
    margin: 0 auto;
    top: 0px;
    padding: 0;
    padding-top: 5em;
    font-weight: 100;
    padding-bottom: 10em;
    background-color: rgba(0, 0, 0, 0.3);
}

    #article a {
        color: #EC0B43;
        transition: 0.2s ease-in-out;
        background-color: rgba(236, 11, 67, 0.2);
    }

        #article a:link {
            color: #EC0B43;
        }

        #article a:visited {
            color: #EC0B43;
        }

        #article a:hover {
            color: white;
        }

        #article a:active {
            color: #EC0B43;
        }

.article__gallery {
    width: 100%;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    margin-top: 2em;
    margin-bottom: 3em;
    padding: 0;
    align-items: center;
    justify-content: center;
    position: relative;
}

    .article__gallery img {
        height: 20em;
        max-width: 100%;
        padding: 0;
        margin: 1em;
        object-fit: cover;
        text-align: center;
        border-bottom: #EC0B43 5px solid;
    }

.article__text {
    font-size: 120%;
    padding-left: 20px;
    padding-right: 20px;
}

.article__title {
    padding: 20px;
}

.caption {
    display: block;
    width: 100%;
    position: absolute;
    bottom: -3em;
    text-align: center;
}

code {
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 400;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    display: none;
}

::-webkit-scrollbar-thumb {
    background: #EC0B43;
}

    ::-webkit-scrollbar-thumb:hover {
        background: #EC0B43;
    }
