html, body {
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden;
    color: white;
    background-color: black;
    font-family: 'IBM Plex Mono', monospace;
}

#bgVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    filter: brightness(30%);
    animation: 0.5s vidFade;
}

@keyframes vidFade {
    0% { filter: brightness(0%); }
    100% { filter: brightness(30%); }
}

#canvas {
    width: 100%;
    margin: 0;
    position: relative;
    image-rendering: pixelated;
}

#midbit {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 1em 2em;
    width: 40%;
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2) 20% 80%, rgba(0, 0, 0, 0.6));
    border-radius: 10px;
}

#midbit h1 {
    text-shadow: 5px 5px #FDE725, 10px 10px #EE4266, 0 0 40px #fff;
    font-size: 100px;
    margin: 0;
    line-height: 0.8em;
    width: 100%;
    text-align: right;
    height: 160px;
}

#navbar {
    position: absolute;
    margin: 0;
    padding: 0;
    list-style-type: none;
    height: 100%;
    display:flex;
    flex-flow: column;
    height: 160px;
    justify-content: space-between;
}

#navbar li {
    text-shadow: -1px -1px 0 #EE4266, 1px -1px 0 #EE4266, -1px 1px 0 #EE4266, 1px 1px 0 #EE4266, 0 0 20px #fff;
    color: #fff;
    float: left;
    text-align: left;
    list-style-type: none;
    transition: 0.1s ease;
}

#navbar li:hover{
    padding-left: 20px;
    transform: rotate(2deg);
    animation: 0.2s blink;
}

@keyframes blink {
    0% {opacity: 0.3;}
    50% {opacity: 1;}
    100% {opacity: 0.3;}
}

#navbar li h2{
    white-space: nowrap;
    height:100%;
    margin: 0;
    font-size: 200%;
}

#midbit h4 {
    font-weight: 100;
    color: rgba(255, 255, 255, 0.5);
    width: 100%;
    height: 1.6em;
    margin: 0;
    margin-top: 1em;
    padding: 0;
    padding-top: 0.2em;
    font-style: italic;
}

#midbit #bg-name {
    float : left;
    margin-left: .3em;
    font-weight: 500;
}
#midbit #bg-info {
    float : right;
    margin-right: .3em;
}

::selection { background: rgba(255, 255, 255, 0.2); }

@media (max-aspect-ratio: 13/10) {
    #midbit {
        width: 70%;
    }
}