body {
    background-color: black;
    color: white;
}

h1 {
    width: 100%;
    color: blue;
    background-color: white;
}

h2 > p {
    margin-bottom: 0;
    margin-top: 10px;
    padding: 0;
    display: inline;
    float: right;
    font-size: initial;
    vertical-align: text-bottom;
    font-weight: initial;
}

.filter-option > p {
    margin: 0;
    color: blue;
    text-decoration: underline;
    cursor: pointer;
    width: fit-content;
}

.filter-option > p:active {
    color: red;
}

.filter-selector {
    padding: auto;
    margin: 0;
}

img {
    border: 3px inset white;
}