body {
    font-family: "Atkinson Hyperlegible";
    background-color: #eee;
    margin: 0;
    color: #141414;
    /* overflow: hidden; */
}
.navbar-wrap{ position: relative; filter: drop-shadow(0px 10px 19px rgba(0,0,0,.1)) drop-shadow(0px 0px 7px rgba(0,0,0,.5)) drop-shadow(0px 0px 2px rgba(0,0,0,.5)); z-index: 300; }
.navbar {
    flex-direction: row;
    display: flex;
    padding: 20px;
    padding-bottom: 14px;
    margin: 0;
    background-color: #fff;
    clip-path: polygon(
        100% 0%,
        100% calc(100% - 17px),
        20em calc(100% - 17px),
        0% 100%,
        0% 0%
    );
    border-bottom: 17px solid rgb(230, 230, 230);
}

.navbar-icon { width: 1.5em; }
.navbar-title {
    margin: 0;
    padding-left: 20px;
    user-select: none;
}
.navbar-title:hover {
    animation: shake 0.6s;
    animation-iteration-count: infinite;
}

.navbar-option {
    font-family: "Roboto Mono";
    font-weight: 300;
    float: right;
    text-align: right;
    margin: 0;
    padding: 5px 10px 0 10px;
    transition: padding 0.2s;
}
.navbar-option a { 
    text-decoration: inherit;
    color: inherit;
}
.navbar-option:hover { padding: 0px 10px 0 10px; }
@media (max-width: 650px) {
    .navbar { flex-direction: column; }
    .navbar-option {
        text-align: right;
        padding: 0;
        padding-right: 20px;
    }
    .navbar-option:hover {
        padding: 0;
        padding-right: 25px;
    }
}

.content {
    background-repeat: no-repeat;
    background-size: 100% 100%; 
    object-fit: fill;
    height:auto;
    width: 65%;
    margin: 0 auto;
    background-color: #fff;
    padding: 4em;
    padding-top: 4em;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
                0 2px 4px rgba(0,0,0,0.07), 
                0 4px 8px rgba(0,0,0,0.07), 
                0 8px 16px rgba(0,0,0,0.07),
                0 16px 32px rgba(0,0,0,0.07), 
                0 32px 64px rgba(0,0,0,0.07);
}

.canvas-container {
    position: relative;
    width: 100%;
    height: clamp(100px, 20vw, 300px);
    background-color: #fff;
    padding: 0;
    margin-top: -1.4em;
    box-shadow: 0 3px 10px rgb(0, 0, 0, 0.2)
}

#canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    background-clip: text;
    image-rendering: pixelated;
    filter: invert(1) blur(10px) brightness(1);
    overflow: hidden;
    z-index: 0;
}

#console {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    overflow: hidden;
    z-index: 0;
    color:rgb(70, 98, 129);
    font-family: monospace;
    /* font-weight: bold; */
    user-select: none;
}
#console p {
    width: 100%;
    text-align:left;
    position:absolute;
    bottom:0;
    margin:0;
    /* font-size:20px; */
    margin: 20px;
}

.header-title {
    color: #fff;
    margin: 0 auto;
    font-size: clamp(40px, 10.5vw, 150px);
    /* line-height: 2em;*/
    margin-top: .6em; 
    user-select: none;
    white-space: nowrap;
    width: max(600px, 70%);
    background-clip: text;
    filter: drop-shadow(0px 10px 10px rgba(0,0,0,.2)) drop-shadow(0px 3px 2px rgba(0,0,0,.1));
}

#bg-info {
    display: block;
    width: max(600px, 70%);
    font-weight: 400;
    font-size: clamp(10px, 1.5vw, 20px);
    font-style: italic;
    color: white;
    opacity: .8;
    margin: 0 auto;
    margin-top: -1em;
    padding: 0;
    padding-left: 10px;
    user-select: none;
    filter: drop-shadow(0px 5px 5px rgba(0,0,0,.2)) drop-shadow(0px 0px 3px rgba(0,0,0,.2));

}

.canvas-header-container {
    /* padding-left: max(calc(22.5% - 8em), 4em); */
    margin:0 auto;
    height: 100%;
}
::selection { background: rgba(0, 0, 0, 0.1); color: black; }

.article-header {
    font-size: 4em;
    margin-bottom: 0;
    border-bottom: 2px solid slategray;
}
.article-text {
    font-size: 14pt;
    color:#666;
}

.article-gallery {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.article-gallery img { height: 10vw; }

.article-gallery-caption {
    font-weight: 300;
    font-family: 'Roboto Mono';
    font-style: italic;
    color: gray;
    text-align: center;
}

#projects-showcase {
    display: grid; 
    grid-gap: 20px;
    /* grid-template: auto / auto auto; */
    grid-template-columns: repeat( auto-fill, minmax(500px, 1fr) );

    width: max(600px, 70%);
    margin: 0 auto;
    padding: 4em 0;
}

.project-card {
    background-color: #fff;
    position: relative;
    box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
                0 2px 4px rgba(0,0,0,0.07), 
                0 4px 8px rgba(0,0,0,0.07), 
                0 8px 16px rgba(0,0,0,0.07);
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    height: max(15em, 15vh);
    /* border-top: 0px solid rgb(0, 174, 255); */
    transition: .2s ease-in-out;
}

.project-card:hover {
    transform:translateY(-5px);
}


.project-text {
    display: inline-block;
    padding: 1em;
    height: 100%;
    width: calc(50% - 2em);
    margin: 0;
    transition: .2s ease-in-out;
}
.project-card:hover .project-text h2 {
    /* color: yellow; */
    box-sizing: border-box;
    /* margin: -2px; */
    margin-left: 20px;
    margin-bottom: 0;
    margin-bottom: 2px;
    border-bottom: 2px solid slategray;
}
.project-text h2 { transition: .05s; margin-left: 20px; margin-bottom:0; width: calc(100% - 1em - 20px); font-style: clamp(0px, 2vw, 1em); border-bottom: 0px solid lightgray; }
.project-text p { padding: 0 20px; margin: 0; height: 8em; color: #333; width: auto; overflow: hidden; }
.project-text ul { position: absolute; bottom: 0; padding-left: 20px; width: calc(50% - 1em - 40px); }
.project-text ul li{ display: inline-block; height: 1.5em; width: 1.5em; margin-right: 8px; }
.project-text ul li img { height: 100%; width: 100%; object-fit: contain; opacity: 0.2; transition: 0.2s; }
.project-text ul li img:hover { opacity: .9; }

.project-card .project-img-container {
    float: right;
    height: 100%;   
    width: 50%;
    overflow: hidden;
}
.project-img-container img {
    height:100%;
    width:100%;
    object-fit: cover;
    left:0;
    bottom:0;
    margin:0 auto;
    padding:0;
    pointer-events: none;
    user-select: none;
}
.project-link {
    float: right;
    width: fit-content !important;
    padding-top: 5px;
}
.project-link a {
    color: #333;
    font-style: italic;
}
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}


@media screen and (max-aspect-ratio: 800/5) {
    
    .project-card {
        height: max(20em, 15vh);
    }
    #projects-showcase {
        grid-template-columns: repeat( auto-fill, minmax(300px, 1fr) );
    }
    .project-text {
        padding: 1em;
        /* height:52%; */
        height:fit-content;
        overflow: hidden;
        width: calc(100% - 2em);
        padding-bottom: 0;
        margin: 0;
    }
    .project-text p { height:4.9em; }
    .project-text ul { position: relative;width: calc(100% - 1em - 20px); }

    .project-card .project-img-container { 
        height: 40%;
        width: 100%;
    }
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }