/* VAE WIDGET */
.vae-widget {
    margin: 0 auto;
    height: auto;
    display:flex;
    user-select: none; 
    pointer-events: none;
}
.vae-widget button {
    pointer-events: all;
}

.vae-widget-leftbar { pointer-events: all; flex:1; height: auto; }
.vae-widget-leftbar-pca-container { width:100%; height: calc(20vw + 2px - 1.4em); overflow-y: auto; overflow-x: hidden; }
.vae-widget-pca { width: 100%; margin: 10px 0; }


.vae-widget-rightbar { pointer-events: all; flex:1; height: auto; }
.vae-widget-rightbar-grid-container { 
    width:auto; 
    height: calc(20vw + 2px - 1.4em); 
    overflow-y: auto;
    display: grid;  
    grid-template-columns: repeat( auto-fill, 65px ); 
    grid-gap: 5px;
    margin: 2px auto;
    overflow-y: scroll;
    overflow-x: hidden;
    justify-content: center;
    /* grid-auto-flow:/ row; */
    
}

.vae-widget-rightbar-grid-container img { 
    display: block;
    margin: 0 auto;
    /* height:clamp(40px, 7vw, 60px);  */
    width:clamp(40px, 7vw, 60px); 
    flex-direction: row; 
    aspect-ratio: 1;
    box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
                0 2px 4px rgba(0,0,0,0.07), 
                0 4px 8px rgba(0,0,0,0.07), 
                0 8px 16px rgba(0,0,0,0.07);
}

.vae-mix-container { height: auto; }

.vae-widget-mix-box { float:right; display:flex; height: auto;}
.vae-widget-mix-slider { pointer-events: all; -webkit-appearance: slider-vertical; width:20px; height: calc(20vw + 2px); }

.vae-widget-leftbar-preset-grid {
    display: grid;
    height: 7vw;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(32px, 1fr));
    overflow-y: scroll;
    padding: 2px;
}

.vae-widget-preset {
    background-color: gray;
    aspect-ratio: 1;
    max-width: 32px;
    max-height: 32px;
}

.vae-widget-mix-preset-container {
    width:10vw;
    float:right;
    height:auto;
}

.vae-widget-mix-preset {
    display:block;
    float:right;
    width:10vw;
    margin: 2px 0 0;
    padding:0;
    background-color: #141414;
    box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
                0 2px 4px rgba(0,0,0,0.07), 
                0 4px 8px rgba(0,0,0,0.07), 
                0 8px 16px rgba(0,0,0,0.07);
}

.vae-widget-mix-preset-container button {
    position: absolute;
    width: 25px;
    height: 25px;
    padding: 0;
    border: solid 1.6px white;
    border-radius: 25%;
    background-color: transparent;
    box-shadow: 0 0 3px 0px #0007 ,
    inset 0 0 7px 0px #0007;
}

.vae-widget-mix-preset-container button img {
    width:25px;
    height:25px;
    margin: -2px;
    padding: 0;
    filter: invert(1);
}

.vae-widget-output-container button img {
    width:25px;
    height:25px;
    margin: -5px -5px;
    padding: 0;
    filter: invert(1);
}

.vae-widget-output-container button {
    position: absolute;
    /* width: 25px;
    height: 25px; */
    aspect-ratio: 1;
    margin: 1px;
    border: solid 1.6px white;
    border-radius: 25%;
    background-color: transparent;
    box-shadow: 0 0 3px 0px #0007 ,
    inset 0 0 7px 0px #0007;
}

.vae-widget-output-container { width:fit-content; }

.vae-widget-output {
    margin: 2px;
    width: calc(20vw + 2px);
    height: calc(20vw + 2px);
    background-color:gray;
    box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
                0 2px 4px rgba(0,0,0,0.07), 
                0 4px 8px rgba(0,0,0,0.07), 
                0 8px 16px rgba(0,0,0,0.07);
    /* image-rendering: pixelated; */
}

.vae-widget-caption {
    margin:-3px;
    height:1.4em; 
    text-align:left; 
    padding-left:7px;
    padding-right:7px;
}